body {
  background-color: rgb(37, 38, 38);
  margin: 0;
  padding: 0;
}

.home img {
  margin-bottom: 25px;
  background-color: rgb(58, 56, 56);
  padding: 1%;
}

.home a {
  width: 30%;
}

img {
  width: 20%;
  height: 60vh;

}

.home {
  margin-top: 5%;
  text-align: center;
}

div {
  font-size: 1.5em;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  padding: 13px 10px;
  font-size: 73%;
  margin: 0px 10px;
}

.navBar {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #003087;
  padding: 8px 0;
  box-sizing: border-box;
}

.single div {
  color: white;
}

.single img {
  margin-top: 5%;
}

.activo {
  background-color: black;
  color: gold;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

@media (max-width: 767px) {
  .navBar {
    width: 100%;
  }

  .menuButton {
    display: block;
  }

  .menuLinks {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menuLinks.open {
    display: flex;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menuLinks a {
    padding: 10px;
    width: 100%;

  }

  .single {
    width: 100%;
  }

  .single img {
    width: 90%;
  }

  .home {
    width: 100%;
  }

  .home img {
    width: 80%;
  }
}